@import url('https://fonts.googleapis.com/css?family=Abel|Bitter');

body {
    font-family: "Helvetica", sans-serif;
    background-color: #FFF;
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    color: #606060;
    text-align: left;
    line-height: 150%;
    justify-content: center;
    text-align: center;
    padding: 0 1em;
}

p {
    text-align: left;
}

img {
    max-width: 100%;
}

#div-invis {
    display: none;
}

a {
    text-decoration: none;
    color: #606060;
}

.navigation li, .navigation-mobile li, .navigation-menu li {
    list-style: none;
}

.navigation, .navigation-menu {
    display: none;
}

.navigation ul, .navigation-mobile ul {
    list-style: none;
    padding-left: 0;
}   

.navigation li, .navigation-mobile li {
    display: inline-block;
}
  
.navigation-menu li {
    display: block;
    text-align: right;
}

.fa-bars {
    position: absolute;
    right: 1em;
}

.nav-header-mobile {
    position: absolute;
    left: 1em;
    margin-top: 0px;
}

.nav_header {
    font-family: 'Bitter', serif;
    font-size: 16px;
    text-transform: uppercase;
    color: #444444;
}

.nav_content {
    font-family: 'Abel', sans-serif;
    text-align: center;
    margin-top: 0;
    font-size: 16px;
}

.wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;  
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  position: relative;
  width: 100%;
  top: 50px;
  margin: 0 auto;
}

.row {
    width: 100%;
    display: flex;
}

.alt-background {
    background-color: #EDEBEB;
}

.footer-icons {
    margin-top: 40px;
}

h3:hover {
    color: #00a4d3;
}

h1 {
    font-family: 'Bitter', serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    text-align: left;
}

h2 {
    font-family: 'Abel', sans-serif;
    text-align: left;
    font-size: 24px;
}

h3 {
    font-family: 'Abel', sans-serif;
    text-align: left;
    font-size: 20px;
}

li {
    text-align: left;
}

.fuschia {
    color: #e93578;
}

.turquoise {
    color: #00a4d3;
}

.lt-gray {
    color: #7A7A7A;
}

.green {
    color: #6BD184;
}

.about:hover {
    color: #e93578;
}

.portfolio:hover {
    color: #00a4d3;
}

.contact:hover {
    color:#6BD184;
}

@media (min-width: 768px) {
    .fa-bars {
        display: none;
    }

    .navigation {
        list-style: none;
        margin: 0; 
        position: fixed;
        top: 0;
        z-index: 2;
        width: 100%;
        background-color: #FFF;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        align-items: center;
        -webkit-flex-flow: row wrap;
    }

    .wide-margin, #about, #portfolio, #contact {
        margin: 50px 300px;
    }

    .nav_content, .nav_header {
        font-size: 18px;
    }

    .navigation a {
        padding: 1em;
    }

    .navigation li:last-child {
        position: absolute;
        right: 10px;
        top: 16px;
    }

    .navigation li:nth-child(5) {
        position: absolute;
        right: 50px;
        top: 16px;
        padding: 0 16px;
    }
    h1 {
       font-size: 2em;
    }

    body {
        font-size: 16px;
        padding: 0;
    }

    .spacing {
        width: 100%;
    }

    .padding-top {
        padding-top: 100px;
    }

    .col-70 {
        width: 70%;
    }

    .col-30 {
        width: 30%;
    }
}

